@model IEnumerable<WebAppProjeto0404.Models.Categorico>

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" lang="pt-br"/>
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Novo Categorico", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id=item.CategoricoId}) |
                @Html.ActionLink("Detalhes", "Details", new {id=item.CategoricoId}) |
                @Html.ActionLink("Excluir", "Delete", new {id=item.CategoricoId})
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
